
header{
  align-items: center;
  justify-content: center;
  display: flex;
}

body{
  margin: 1%;
  font-family: 'Gabarito', cursive;
}

header img{
  margin: 0.5vh;
  width: 5rem;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

hr{
  border: 2px solid rgb(0, 2, 104);
  border-radius: 20px;
}

nav a{
  margin: 3rem;
  text-decoration: none;
  color: rgb(0, 2, 104);
  font-size: 1.2rem;
}

nav a:hover{
  color: rgb(49, 73, 87);
  transition-duration: 0.4s;
}

#start{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 45%;
}

#start h3{
  font-size: 2rem;
  color: rgb(0, 2, 104);
  overflow-y: hidden;
}

#start p{
  font-size: 120%;
  color: rgb(0, 2, 104);
  width: 45%;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}